body{
    
    overflow-x: hidden;
    background: url("../img/background.png");
}


/* NAV BAR */

nav{
    background-color: #262626;
    padding: 0px;
    margin: 0px;
    height: 50px;
   text-align: center;
 
  
}
ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
li{
    margin: 0.5em;
    display: inline;
    font-family: 'Roboto Condensed', sans-serif;
    color: #adabab
}
.menu{
  margin: 0 7em 0 16em;
}
.menu li{
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 12px;
}
li p {
    display: inline;
    white-space: nowrap;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(251, 199, 126, 1);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #e02120, 0 0 30px #e02120, 0 0 40px #e02120, 0 0 55px #e02120, 0 0 75px #e02120;
    margin: 0.1em;
    text-transform: uppercase;
}
li p .bolt{
    color: rgb(129, 251, 255);
    text-shadow: 0px 0px 20px  rgba(129, 251, 255, 0.7);
}

li img{
    margin-top: 0.1em;
padding: 0.1em;
background-color: #adabab;
border-radius: 4px;
width: 1.2em;
height: 1.2em;
}
.flag{
    border-radius: none;
    padding:0px;
    border: none;
    width: 1.5em;
    height: 1.5em;
    margin-left: 1.2px;
}
.dropdown {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #adabab;
}



/*LOGIN BAR*/



.registrationcontainer{
  display: flex;
  align-items: center;
    width: 100%;
    position: relative;
    border-top: solid 1px rgba(129, 251, 255, 0.7);
    border-bottom: solid 1px rgba(129, 251, 255, 0.7);
    background-color: black;
    
}

.logo{
    position: relative;
    height: auto;
    margin-top: 0.5em;
    margin-left: 4em;
    width: 30em;
    height: auto;
    overflow-y: hidden;
    
}
.form{
    display: inline;
    margin-left: 15em;
}
.inputdata{
    border:none;
    border-radius: 2px;
    width: 100px;
    height: 20px;
    margin: 0.3em;
     
}
.bluebutton{
    background-image: linear-gradient(0deg, rgba(33,68,162,1) 0%, rgba(33,68,162,1) 50%, rgba(86,120,183,1) 51%);
    border: solid rgb(129, 251, 255);
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px rgba(33,68,162,1), 0 0 4px rgba(33,68,162,1), 0 0 5px rgba(33,68,162,1), 0 0 5px rgba(33,68,162,1), 0 0 5px rgba(33,68,162,1);
    color: rgb(129,251,255);
    text-shadow: 0 0 0.1px #fff, 0 0 0.1px #fff, 0 0 0.1px rgb(129,251,255), 0 0 0.1px rgb(129,251,255), 0 0 0.1px rgb(129,251,255), 0 0 0.1px rgb(129,251,255), 0 0 0.1px rgb(129,251,255);
    height: 25px;
    font-size: 10px;
    text-align: center;
    margin-right: 1.2em;
}
.bluebutton:hover{
    background-image: linear-gradient(0deg, rgba(33,68,162,1) 0%, rgba(33,68,162,1) 50%, rgba(86,120,183,1) 51%);
    border: solid rgb(129, 251, 255);
    box-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 8px rgba(33,68,162,1), 0 0 8px rgba(33,68,162,1), 0 0 8px rgba(33,68,162,1), 0 0 8px rgba(33,68,162,1), 0 0 8px rgba(33,68,162,1);
    color: rgb(129,251,255);
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 4px rgb(129,251,255), 0 0 4px rgb(129,251,255), 0 0 4px rgb(129,251,255), 0 0 4px rgb(129,251,255), 0 0 4px rgb(129,251,255);
    height: 25px;
    font-size: 10px;
    text-align: center;
    margin-right: 1.2em;
}

.redbutton{
    background-image: linear-gradient(0deg, rgba(171,57,11,1) 0%, rgba(171,57,11,1) 50%, rgba(174,97,69,1) 51%);
    border: solid rgb(255, 206, 129);
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px rgba(171,57,11,1), 0 0 4px rgba(171,57,11,1), 0 0 5px rgba(171,57,11,1), 0 0 5px rgba(171,57,11,1), 0 0 5px rgba(171,57,11,1);
    color: rgb(255, 206, 129);
    text-shadow: 0 0 0.1px #fff, 0 0 0.1px #fff, 0 0 0.1px rgb(255, 206, 129), 0 0 0.1px rgb(255, 206, 129), 0 0 0.1px rgb(255, 206, 129), 0 0 0.1px rgb(255, 206, 129), 0 0 0.1px rgb(255, 206, 129);
    height: 25px;
    font-size: 10px;
    text-align: center;
    margin-left: 1.2em;
}
.redbutton:hover{
    background-image: linear-gradient(0deg, rgba(171,57,11,1) 0%, rgba(171,57,11,1) 50%, rgba(174,97,69,1) 51%);
    border: solid rgb(255, 206, 129);
    box-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 8px rgba(171,57,11,1), 0 0 8px rgba(171,57,11,1), 0 0 8px rgba(171,57,11,1), 0 0 8px rgba(171,57,11,1), 0 0 8px rgba(171,57,11,1);
    color: rgb(255, 206, 129);
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 4px rgb(255, 206, 129), 0 0 4px rgb(255, 206, 129), 0 0 4px rgb(255, 206, 129), 0 0 4px rgb(255, 206, 129), 0 0 4px rgb(255, 206, 129);
    height: 25px;
    font-size: 10px;
    text-align: center;
    margin-left: 1.2em;
}
.register{
    color: rgba(129, 251, 255, 1);
    background-color: rgba(129, 251, 255, 0.5);
}
label{
    display: block;
    color: grey;
    font-size: 8px;
    margin-left: 4%;
    font-style: italic;
}



/* LOGO BAR */



.banner{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
}




/* LATEST WINNERS / JACKPOT */



.winners{
    width: 100%;
    height: auto;
    background-color: black;
    border-top: solid 1px rgb(192,220,255);
    border-bottom: solid 1px rgb(60, 67, 197);
    margin: 0px;
}
#bottom_table{
    margin: auto auto auto 100px;
}
.title{
    display: inline;
    white-space: nowrap;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(251, 199, 126, 1);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #e02120, 0 0 30px #e02120, 0 0 40px #e02120, 0 0 55px #e02120, 0 0 75px #e02120;
    margin: 0.1em;
    text-transform: uppercase;
}

.gamename{
    color: white !important;
    font-size: 12px !important;
    margin: 1px 30px 1px 2px  !important; 
}
.prize{
     color: gold !important;
    font-size: 12px !important;
    margin: 1px 30px 1px 2px !important; 
}
.playername{
    color: white !important;
    font-size: 8px !important;
    margin: 1px 30px 8px 2px!important;
}
.bottom_menu_img{
    margin-bottom: 6px;
}
.coins{
    background: -webkit-radial-gradient(closest-side, rgba(243, 231, 159,1) 0, rgba(243, 231, 159,1) 23%, rgb(148, 100, 46) 100%);
    font-size: 22px !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif !important;
    margin: 1px 30px 8px 2px;
}





/*GAMES*/

/*genres*/


.genrebuttons{
    float: right;
    margin: auto 100px auto -15px;
}
.gamebutton{
    margin: auto 8px;
     background: none;
     border-radius: 3px;
    border: solid 2px rgb(255, 206, 129);
   box-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 12px rgba(171,57,11,1), 0 0 12px rgba(171,57,11,1), 0 0 12px rgba(171,57,11,1), 0 0 12px rgba(171,57,11,1), 0 0 12px rgba(171,57,11,1);
   color: rgb(255, 206, 129);
   text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 12px rgba(171,57,11,1), 0 0 12px rgba(171,57,11,1), 0 0 12px rgba(171,57,11,1), 0 0 12px rgba(171,57,11,1), 0 0 12px rgba(171,57,11,1);
   height: 30px;
   width: 170px;
   font-size: 12px;
   text-align: center;
   vertical-align: middle;
   margin-left: 1.2em;
}
.buttonicon{
    width: 24px;
    height: auto;
    margin: 0 2px;
}
button > img,
button > span {
  vertical-align: middle;
}



/* SEARCH ROW */



.menusearch{
    color: white;
    font-size: 10px;
    margin: 0 auto;  
}

.menusearch input{
    background-color: black;
    color: grey;
    font-size: 8px;
    font-style: italic;
    padding: 6px; 
    width: 250px;
    height: 35px;
    border-radius: 4px;
   border: solid rgb(129, 251, 255);
   box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px rgba(33,68,162,1), 0 0 4px rgba(33,68,162,1), 0 0 5px rgba(33,68,162,1), 0 0 5px rgba(33,68,162,1), 0 0 5px rgba(33,68,162,1);
}

#search{
 position:relative; 
 padding:0; 
 margin:0 70px 0 560px; 

}
.menusearch img{
    position:absolute;
    bottom: -4px;
    right:6px; 
    width:35px; 
    height:auto;
}



/*DISPLAY GAMES*/



.playnow{
    position: absolute;
    top: 40px;
    left: 60px;
}
.demo{
    position: absolute;
    top: 75px;
    left: 60px;
}

.playnow:hover{
    position: absolute;
    top: 40px;
    left: 60px;
}
.demo:hover{
    position: absolute;
    top: 75px;
    left: 60px;
}

.rowcontainer{
    margin: 0 0 0 200px;
}
.rowcontainer p{
    color: white;
    font-size: 10px;
    margin: 4px;
    font-family: 'Roboto Condensed', sans-serif;
}
.gamesimg{
    width: 170px;
    height: 120px;
}
#largeimg{
    position: relative;
}
.largeimg{
    position: relative;
     width: 370px;
     height: 235px;
    
}
h3{
    position: absolute;
    top:100px;
    left: 80px;
    background: -webkit-radial-gradient(closest-side, rgba(243, 231, 159,1) 0, rgba(243, 231, 159,1) 23%, rgb(148, 100, 46) 100%);
    font-size: 22px !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif !important;
    text-shadow: 0px 0px 30px black;
}
#largeimg p{
    text-align: right !important;
    position: absolute;
    top:180px;
    left: 80px;
    font-size: 10px !important;
    color: white !important;

}

#promotions{
    text-align: center;
    vertical-align: middle;
    width: 370px;
    height: 50px;
    background-color: white;
    border: solid rgb(129, 251, 255);
    box-shadow: 0 0 8px #fff, 0 0 8px #fff, 0 0 12px rgba(33,68,162,1), 0 0 12px rgba(33,68,162,1), 0 0 12px rgba(33,68,162,1), 0 0 12px rgba(33,68,162,1), 0 0 12px rgba(33,68,162,1);
    margin: 0 200px 0 0;
    
    }

    #promotions p{
    color: blue;
    font-size: 24px;
    font-weight: bold;
    }

.squareimg{
    position: relative;
    margin: 8px 0px;
}

.morebutton{
    text-align: center;
    margin: 20px;
}




/* FOOTER */



footer{
    background-color: black;
    width: 100%;
    margin-bottom:0;
    padding: 10px;
    }

    .footermenu{
        margin: 0 auto;
    }
    #condition{
        margin: 2vh auto;
    }

    a{
        text-decoration: none;
    }

    .paylogos{
        margin:-12vh -4vw;
       
    }
    .logocontainer{
    border-width: 4px;
    border-style: solid;
    border-bottom: 2px solid transparent;
    border-top:2px solid transparent;
    border-right: none;
    border-left: none;
   background: -webkit-radial-gradient(50% 0%, 50% 5px, rgb(3, 59, 89) 0%, black 100%);
   border-image-slice: 1;
}
footer > p{
    font-size: 12px;
    color: grey;
    margin: 5vh auto;
    text-align: center;
}
    